* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "CircularStd";
  src: url(./font/CircularStd-Bold.otf);
}
body {
  max-width: 1440px;
  margin: 0px auto;
  /* overflow-x: hidden; */
}
.mobile {
  display: none;
}
.mobile-pop {
  display: none;
}
.mobilenav {
  background-color: black;
  width: 100%;
  height: 50vh;
  padding-top: 30px;
}
.mobilenav-ul a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  color: white;
  text-align: center;
}
.mobilenav-ul li {
  padding-bottom: 20px;
}
.mobilenav-ul a:hover {
  color: gray;
  font-size: 18px;
  transition: 1s;
}
.close {
  color: red;
}
.close-all {
  display: none;
}

.hamburger {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  padding-left: 55px;
  padding-right: 55px;
}
.logo {
  width: 15%;
  height: 40%;
  padding-top: 10px;
}
.logo2 {
  display: none;
}

header ul {
  display: flex;
  gap: 38px;
}
header ul a {
  text-decoration: none;
  list-style-type: none;
  color: #272d4e;
  padding-top: 18px;
}
header ul a :hover {
  font-size: 20px;
  color: grey;
}

header div {
  display: flex;
  gap: 24px;
}
.extra {
  text-decoration: none;
  color: #272d4e;
}
.searchbar {
  width: 30%;
  height: 60%;
  margin-top: 15px;
  border: none;
}
.logsign {
  position: relative;
}
.searchlogo {
  position: absolute;
  right: 58px;
  bottom: 11px;
}
header button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px 8px;
  border: none;
  background-color: #7854f7;
  color: white;
  cursor: pointer;
}
.hero {
  display: flex;
  padding-top: 80px;
  padding-left: 200px;
  gap: 100px;
}
.hero .htext {
  font-weight: 700;
  font-size: 45px;
  font-family: "CircularStd";
  color: #272d4e;
}
.hero .ptext {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #94a2b3;
  padding-top: 29px;
}
.hero img {
  width: 95%;
}
.bord {
  display: flex;
  gap: 12px;
  padding-top: 31px;
}
.bord a {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  padding-top: 24px;
  color: #29aaf3;
  cursor: pointer;
  text-decoration: none;
}
.bord span {
  font-weight: 400;
  color: #94a2b3;
}
.startbut {
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto;
  color: white;
  background-color: #7854f7;
  padding: 26px 62px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}
.startbut :hover {
  background-color: white;
}
@media screen and (max-width: 1024px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
    gap: 60px;
  }
  header ul {
    gap: 20px;
  }
  header div {
    gap: 10px;
  }
  header button {
    font-size: 12px;
    padding: 4px;
  }
  .hero {
    padding-top: 40px;
    padding-left: 100px;
    gap: 70px;
  }
  .hero .htext {
    font-weight: 600;
    font-size: 30px;
  }
  .hero .ptext {
    padding-top: 20px;
  }
  .startbut {
    font-size: 14px;

    padding: 14px;
    border-radius: 30px;
  }
  .bord p {
    font-size: 18px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 800px) {
  header {
    padding-left: 8px;
    padding-right: 10px;
    gap: 30px;
  }
  header ul {
    gap: 15px;
  }
  header div {
    gap: 8px;
  }
  .hero {
    padding-top: 20px;
    padding-left: 40px;
    gap: 40px;
  }
  .hero .htext {
    font-size: 20px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 14px;
  }
  .startbut {
    font-size: 12px;
    width: 180px;

    padding: 4px;
    border-radius: 25px;
  }
  .bord p {
    font-size: 12px;
    padding-top: 8px;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
  header nav {
    display: none;
  }
  .logsign {
    display: none;
  }
  .hero {
    padding-top: 20px;
    padding-left: 40px;
    gap: 40px;
  }
  .hero .htext {
    font-size: 20px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 14px;
  }
  .startbut {
    font-size: 12px;
    width: 150px;
    padding: 4px;
    border-radius: 25px;
  }
  .bord a {
    padding-top: 10px;
  }
  .bord p {
    font-size: 12px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 431px) {
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero {
    display: block;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero .htext {
    font-weight: 700;
    font-size: 38px;
  }
  .hero .ptext {
    font-size: 14px;
    padding-top: 10px;
  }
  .startbut {
    font-size: 10px;
    width: 130px;
    padding: 14px 24px;
    border-radius: 25px;
  }
  .bord {
    padding-top: 10px;
  }
  .bord p {
    font-size: 11px;
    padding-top: 12px;
  }
  .featuredimage {
    padding-top: 28px;
  }
}
@media screen and (max-width: 376px) {
  body {
    overflow-x: hidden;
  }
  .hero .htext {
    font-size: 34px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 8px;
  }
  .startbut {
    font-size: 10px;
    width: 130px;
    padding: 11px 24px;
    border-radius: 25px;
  }
  .bord {
    padding-top: 8px;
  }
  .bord p {
    font-size: 9px;
    padding-top: 12px;
  }
  .featuredimage {
    padding-top: 24px;
  }
}
@media screen and (max-width: 320px) {
  .hero .htext {
    font-size: 30px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 8px;
  }

  .bord {
    padding-top: 10px;
  }
}
.cuz1 {
  padding-top: 24px;
}
.cuz2 {
  padding-top: 90px;
}
.cuz3 {
  padding-top: 140px;
}
.subhero {
  padding-top: 30px;
}
.subheroson {
  display: flex;
  padding-left: 114px;
  padding-right: 114px;
}
.subheroson h4 {
  font-family: "CircularStd";
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #272d4e;
}
.subherosonP {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #94a2b3;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.subherosonP1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  color: #299ef3;
  text-align: center;
  text-decoration: none;
}

.mainimage {
  max-width: 430px;
}
.popimage {
  max-width: 180px;
}
.subhero h3 {
  font-family: "CircularStd";
  font-weight: 700;
  font-size: 40px;
  color: #272d4e;
  text-align: center;
}
.imageposition1 {
  position: relative;
}
.absoimage1 {
  position: absolute;
  left: -30px;
  top: 40px;
}
.absoimage2 {
  position: absolute;
  left: -60px;
  top: 65px;
}
.imageposition2 {
  position: relative;
}
.absoimage3 {
  position: absolute;
  top: -40px;
  left: 40px;
}
.absoimage4 {
  position: absolute;
  right: 22px;
  top: 10px;
}
.absoimage5 {
  position: absolute;
  top: 84px;
  left: 31px;
}
.absoimage6 {
  position: absolute;
  left: 115px;
  top: 195px;
}
.absoimage7 {
  position: absolute;
  right: 72px;
  top: 106px;
}
.imageposition3 {
  position: relative;
}
.absoimage8 {
  position: absolute;
  top: 95px;
  right: -25px;
}
.absoimage9 {
  position: absolute;
  top: -40px;
  left: 30px;
}
.absoimage10 {
  position: absolute;
  top: -100px;
  right: 30px;
}
@media screen and (max-width: 1024px) {
  .cuz1 {
    padding-top: 15px;
  }
  .cuz2 {
    padding-top: 50px;
  }
  .cuz3 {
    padding-top: 90px;
  }
  .subhero {
    padding-top: 20px;
  }
  .subheroson {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }
  .subheroson h4 {
    font-size: 22px;
  }
  .subherosonP {
    font-size: 12px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 320px;
  }
  .popimage {
    max-width: 140px;
  }
  .subhero h3 {
    font-size: 34px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -38px;
    top: 34px;
  }
  .absoimage2 {
    position: absolute;
    left: -50px;
    top: 72px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -30px;
    left: 23px;
  }
  .absoimage4 {
    position: absolute;
    right: 16px;
    top: 4px;
  }
  .absoimage5 {
    position: absolute;
    top: 60px;
    left: 22px;
  }
  .absoimage6 {
    position: absolute;
    left: 90px;
    top: 144px;
  }
  .absoimage7 {
    position: absolute;
    right: 54px;
    top: 79px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 60px;
    right: -30px;
  }
  .absoimage9 {
    position: absolute;
    top: -28px;
    left: 20px;
  }
  .absoimage10 {
    position: absolute;
    top: -90px;
    right: 30px;
  }
}
@media screen and (max-width: 800px) {
  .cuz1 {
    padding-top: 15px;
  }
  .cuz2 {
    padding-top: 40px;
  }
  .cuz3 {
    padding-top: 70px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 240px;
  }
  .popimage {
    max-width: 100px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -42px;
    top: 26px;
  }
  .absoimage2 {
    position: absolute;
    left: -30px;
    top: 60px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -20px;
    left: 20px;
  }
  .absoimage4 {
    position: absolute;
    right: 16px;
    top: 5px;
  }
  .absoimage5 {
    position: absolute;
    top: 48px;
    left: 20px;
  }
  .absoimage6 {
    position: absolute;
    left: 66px;
    top: 110px;
  }
  .absoimage7 {
    position: absolute;
    right: 42px;
    top: 60px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 60px;
    right: -20px;
  }
  .absoimage9 {
    position: absolute;
    top: -18px;
    left: 14px;
  }
  .absoimage10 {
    position: absolute;
    top: -60px;
    right: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* .subheroson h4{
        text-align: none;

    } */
  .cuz1 {
    padding-top: 15px;
  }
  .cuz2 {
    padding-top: 40px;
  }
  .cuz3 {
    padding-top: 120px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 150px;
    padding-right: 150px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 430px;
  }
  .popimage {
    max-width: 200px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -28px;
    top: 58px;
  }
  .absoimage2 {
    position: absolute;
    left: -60px;
    top: 90px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -45px;
    left: 26px;
  }
  .absoimage4 {
    position: absolute;
    right: 60px;
    top: 15px;
  }
  .absoimage5 {
    position: absolute;
    top: 75px;
    left: 31px;
  }
  .absoimage6 {
    position: absolute;
    left: 105px;
    top: 195px;
  }
  .absoimage7 {
    position: absolute;
    right: 100px;
    top: 104px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 100px;
    right: -10px;
  }
  .absoimage9 {
    position: absolute;
    top: -40px;
    left: 27px;
  }
  .absoimage10 {
    position: absolute;
    top: -110px;
    right: 60px;
  }
}
@media screen and (max-width: 431px) {
  /* .subheroson h4{
        text-align: none;

    } */
  .cuz1 {
    padding-top: 10px;
  }
  .cuz2 {
    padding-top: 30px;
  }
  .cuz3 {
    padding-top: 100px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 50px;
    padding-right: 25px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 330px;
  }
  .popimage {
    max-width: 130px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -40px;
    top: 35px;
  }
  .absoimage2 {
    position: absolute;
    left: -40px;
    top: 90px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -24px;
    left: 30px;
  }
  .absoimage4 {
    position: absolute;
    right: 42px;
    top: 12px;
  }
  .absoimage5 {
    position: absolute;
    top: 65px;
    left: 30px;
  }
  .absoimage6 {
    position: absolute;
    left: 90px;
    top: 154px;
  }
  .absoimage7 {
    position: absolute;
    right: 80px;
    top: 84px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 70px;
    right: -5px;
  }
  .absoimage9 {
    position: absolute;
    top: -20px;
    left: 24px;
  }
  .absoimage10 {
    position: absolute;
    top: -70px;
    right: 40px;
  }
}
@media screen and (max-width: 376px) {
  /* .subheroson h4{
        text-align: none;

    } */
  .cuz1 {
    padding-top: 10px;
  }
  .cuz2 {
    padding-top: 30px;
  }
  .cuz3 {
    padding-top: 100px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 30px;
    padding-right: 25px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  /* .mainimage {
      max-width: 330px;
    } */

  .mainimage1 {
    width: 275px;
  }
  .mainimage2 {
    width: 343px;
  }
  .mainimage3 {
    width: 300px;
  }
  .popimage1 {
    width: 43px;
  }
  .popimage2 {
    width: 129px;
  }

  .popimage {
    max-width: 130px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -18px;
    top: 28px;
  }
  .absoimage2 {
    position: absolute;
    left: -40px;
    top: 50px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -24px;
    left: 30px;
  }
  .absoimage4 {
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .absoimage5 {
    position: absolute;
    top: 65px;
    left: 30px;
  }
  .absoimage6 {
    position: absolute;
    left: 90px;
    top: 154px;
  }
  .absoimage7 {
    position: absolute;
    right: 50px;
    top: 84px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 70px;
    right: -5px;
  }
  .absoimage9 {
    position: absolute;
    top: -20px;
    left: 20px;
  }
  .absoimage10 {
    position: absolute;
    top: -70px;
    right: 40px;
  }
}
@media screen and (max-width: 321px) {
  /* .subheroson h4{
        text-align: none;

    } */

  .cuz3 {
    padding-top: 90px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 25px;
    padding-right: 16px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  /* .mainimage {
      max-width: 330px;
    } */

  .mainimage1 {
    width: 275px;
  }
  .mainimage2 {
    width: 300px;
  }
  .mainimage3 {
    width: 300px;
  }
  .popimage1 {
    width: 43px;
  }
  .popimage2 {
    width: 129px;
  }

  .popimage {
    max-width: 130px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -18px;
    top: 28px;
  }
  .absoimage2 {
    position: absolute;
    left: -40px;
    top: 50px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -28px;
    left: 26px;
  }
  .absoimage4 {
    position: absolute;
    right: -2px;
    top: 4px;
  }
  .absoimage5 {
    position: absolute;
    top: 55px;
    left: 21px;
  }
  .absoimage6 {
    position: absolute;
    left: 80px;
    top: 140px;
  }
  .absoimage7 {
    position: absolute;
    right: 28px;
    top: 75px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 70px;
    right: -38px;
  }
  .absoimage9 {
    position: absolute;
    top: -26px;
    left: 20px;
  }
  .absoimage10 {
    position: absolute;
    top: -70px;
    right: 1px;
  }
}
.thirdsect {
  position: relative;
  margin-top: 120px;
  padding-left: 180px;
  padding-right: 180px;
  background-image: url(./images/Rectangle234.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.thirdsect h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "CircularStd";
  padding-top: 85px;
  color: white;
}
.thirdsect p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 34px;
  padding-top: 14px;
  color: white;
  line-height: 20px;
}
.thirdsect button {
  padding: 22px 26px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  background-color: #70c217;
  color: white;
  border-radius: 30px;
  border: none;
}
.thirdsect-son {
  display: flex;
  gap: 18px;
}
.thirdsect-son1 {
  position: relative;
  padding-bottom: 50px;
}
.thirdsect-image1 {
  position: absolute;
  top: -50px;
  width: 430px;
  z-index: 2;
}
.empty {
  width: 430px;
}
.thirdsect-son2 {
  position: relative;
  padding-bottom: 105px;
}
.thirdsect-image2 {
  position: absolute;
  right: -10px;
  width: 430px;
}
.vector1 {
  width: 35px;
  position: absolute;
  top: 120px;
}
.vector2 {
  position: absolute;
  top: 180px;
  width: 300px;
}
.empty1 {
  width: 220px;
}
.vector3 {
  width: 150px;
  position: absolute;
  top: -75px;
  left: 12px;
}
.vector4 {
  width: 35px;
  position: absolute;
  right: 250px;
  top: 12px;
  z-index: 1;
}
.vector5 {
  width: 180px;
  position: absolute;
  right: -70px;
  top: 22px;
}
.vector6 {
  width: 250px;
  position: absolute;
  right: -95px;
  top: 170px;
}
@media screen and (max-width: 1024px) {
  .thirdsect {
    position: relative;
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .thirdsect h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: "CircularStd";
    padding-top: 45px;
  }
  .thirdsect p {
    font-size: 14px;
    padding-bottom: 28px;
    padding-top: 14px;

    line-height: 20px;
  }
  .thirdsect button {
    padding: 18px 22px;
    font-size: 14px;
  }
  .thirdsect-son {
    display: flex;
    gap: 10px;
  }
  .thirdsect-son1 {
    position: relative;
    padding-bottom: 30px;
  }
  .thirdsect-image1 {
    position: absolute;
    top: -50px;
    width: 320px;
    z-index: 2;
  }
  .empty {
    width: 380px;
  }
  .thirdsect-son2 {
    position: relative;
    padding-bottom: 40px;
  }
  .thirdsect-image2 {
    position: absolute;
    right: -10px;
    width: 320px;
  }
  .vector1 {
    width: 30px;
    position: absolute;
    top: 60px;
  }
  .vector2 {
    position: absolute;
    top: 170px;
    width: 170px;
  }
  .empty1 {
    width: 170px;
  }
  .vector3 {
    width: 100px;
    position: absolute;
    top: -75px;
    left: 12px;
  }
  .vector4 {
    width: 30px;
    position: absolute;
    right: 170px;
    top: 6px;
    z-index: 1;
  }
  .vector5 {
    width: 120px;
    position: absolute;
    right: -50px;
    top: 12px;
  }
  .vector6 {
    width: 160px;
    position: absolute;
    right: -58px;
    top: 115px;
  }
}
@media screen and (max-width: 800px) {
  .thirdsect {
    position: relative;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 40px;
  }
  .thirdsect h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "CircularStd";
    padding-top: 30px;
  }
  .thirdsect p {
    font-size: 12px;
    padding-bottom: 24px;
    padding-top: 12px;

    line-height: 14px;
  }
  .thirdsect button {
    padding: 18px 22px;
    font-size: 14px;
  }
  .thirdsect-son {
    display: flex;
    gap: 10px;
  }
  .thirdsect-son1 {
    position: relative;
    padding-bottom: 30px;
  }
  .thirdsect-image1 {
    position: absolute;
    top: -40px;
    width: 300px;
    z-index: 2;
  }
  .empty {
    width: 300px;
  }
  .thirdsect-son2 {
    position: relative;
    padding-bottom: 60px;
  }
  .thirdsect-image2 {
    position: absolute;
    /* right: -0px; */
    width: 300px;
    top: -14px;
  }
  .vector1 {
    width: 30px;
    position: absolute;
    top: 60px;
  }
  .vector2 {
    position: absolute;
    top: 170px;
    width: 140px;
  }
  .empty1 {
    width: 130px;
  }
  .vector3 {
    width: 100px;
    position: absolute;
    top: -48px;
    left: 8px;
  }
  .vector4 {
    width: 30px;
    position: absolute;
    right: 170px;
    top: -8px;
    z-index: 1;
  }
  .vector5 {
    width: 90px;
    position: absolute;
    right: -30px;
    top: 4px;
  }
  .vector6 {
    width: 120px;
    position: absolute;
    right: -28px;
    top: 82px;
  }
}
@media screen and (max-width: 768px) {
  .thirdsect {
    position: relative;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 30px;
  }

  .thirdsect-son1 {
    position: relative;
    padding-bottom: 30px;
  }
  .thirdsect-image1 {
    position: absolute;
    top: -40px;
    width: 250px;
    z-index: 2;
  }
  .empty {
    width: 250px;
  }

  .thirdsect-son2 {
    position: relative;
    padding-bottom: 40px;
  }
  .thirdsect-image2 {
    position: absolute;
    /* right: -0px; */
    width: 280px;
    top: -14px;
  }
  .vector1 {
    width: 30px;
    position: absolute;
    top: 40px;
  }
  .vector2 {
    position: absolute;
    top: 120px;
    width: 140px;
  }
  .empty1 {
    width: 130px;
  }
  .vector3 {
    width: 100px;
    position: absolute;
    top: -60px;
    left: 8px;
  }
  .vector4 {
    width: 30px;
    position: absolute;
    right: 170px;
    top: -8px;
    z-index: 1;
  }
  .vector5 {
    width: 90px;
    position: absolute;
    right: -20px;
    top: 2px;
  }
  .vector6 {
    width: 120px;
    position: absolute;
    right: -18px;
    top: 92px;
  }
}
@media screen and (max-width: 430px) {
  .thirdsect {
    display: none;
  }
  .mobile {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 16px;
    padding-right: 16px;
    background-image: url(./images/Rectangle234m.png);
  }

  .mobile-image {
    width: 380px;
    padding-top: 40px;
    padding-right: 26px;
    position: relative;
  }

  .mobile-son1 {
    position: relative;
    padding-top: 50px;
  }
  .mobile h3 {
    font-size: 26px;
    font-weight: 700;
    font-family: "CircularStd";
    color: white;
    line-height: 30px;
  }
  .mobile p {
    font-size: 14px;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    padding-top: 12px;
  }
  .mobile button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    padding: 16px 20px;
    background-color: #70c217;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
  }
  .mobile-vector1 {
    width: 45px;
    position: absolute;
    bottom: 35%;
    left: 28px;
  }
  .mobile-vector2 {
    width: 230px;
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
  .mobile-vector3 {
    width: 150px;
    position: absolute;
    bottom: -8px;
    left: 48px;
  }
  .mobile-son2 {
    padding-top: 38px;
  }
  .mobile-image2 {
    width: 380px;
    padding-top: 60px;
    padding-right: 26px;
    position: relative;
  }
  .myrelative {
    position: relative;
  }
  .mobile-vector4 {
    position: absolute;
    width: 36px;
    top: 66px;
    left: 70px;
    z-index: 1;
  }
  .mobile-vector5 {
    width: 190px;
    position: absolute;
    right: 10px;
    top: 70px;
  }
  .mobile-vector6 {
    position: absolute;
    width: 210px;
    bottom: 25%;
    left: 30px;
  }
}
@media screen and (max-width: 376px) {
  .thirdsect {
    display: none;
  }
  .mobile-image {
    width: 324px;
    padding-top: 34px;
    padding-right: 0px;
    position: relative;
  }

  .mobile-son1 {
    position: relative;
    padding-top: 50px;
  }
  .mobile h3 {
    font-size: 24px;
  }
  .mobile p {
    font-size: 12px;
    padding-top: 10px;
  }
  .mobile-vector1 {
    width: 45px;
    position: absolute;
    bottom: 35%;
    left: 28px;
  }
  .mobile-vector2 {
    width: 230px;
    position: absolute;
    bottom: 44px;
    left: 38px;
  }
  .mobile-vector3 {
    width: 150px;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  .mobile-son2 {
    padding-top: 38px;
  }
  .mobile-image2 {
    padding-top: 60px;
    padding-right: 30px;
    position: relative;
  }
  .myrelative {
    position: relative;
  }
  .mobile-vector4 {
    position: absolute;
    width: 36px;
    top: 66px;
    left: 70px;
    z-index: 1;
  }
  .mobile-vector5 {
    width: 190px;
    position: absolute;
    right: -10px;
    top: 50px;
  }
  .mobile-vector6 {
    position: absolute;
    width: 210px;
    bottom: 25%;
    left: 5px;
  }
}
@media screen and (max-width: 321px) {
  .thirdsect {
    display: none;
  }
  .mobile-image {
    width: 290px;
    padding-top: 34px;
    padding-right: 0px;
    position: relative;
  }

  .mobile-son1 {
    position: relative;
    padding-top: 40px;
  }
  .mobile h3 {
    font-size: 24px;
  }
  .mobile p {
    font-size: 10px;
    padding-top: 10px;
    line-height: 14px;
  }
  .mobile-vector1 {
    width: 45px;
    position: absolute;
    bottom: 35%;
    left: 1px;
  }
  .mobile-vector2 {
    width: 220px;
    position: absolute;
    bottom: 42px;
    left: 10px;
  }
  .mobile-vector3 {
    width: 150px;
    position: absolute;
    bottom: 1px;
    left: 25px;
  }
  .mobile-son2 {
    padding-top: 26px;
  }
  .mobile-image2 {
    width: 290px;
    padding-top: 40px;
    padding-right: 20px;
    position: relative;
  }
  .myrelative {
    position: relative;
  }
  .mobile-vector4 {
    position: absolute;
    width: 36px;
    top: 40px;
    left: 50px;
    z-index: 1;
  }
  .mobile-vector5 {
    width: 140px;
    position: absolute;
    right: -1px;
    top: 45px;
  }
  .mobile-vector6 {
    position: absolute;
    width: 210px;
    bottom: 25%;
    left: 5px;
  }
}
.fourthsect {
  margin-top: 60px;
  margin-bottom: 30px;
}
.fourthsect h3 {
  text-align: center;
  font-family: "CircularStd";
  color: #272d4e;
  font-weight: 700;
  font-size: 40px;
  padding-top: 100px;
}
.fourthsect-container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.fourthsect-image {
  width: 620px;
  z-index: 1;
}
.fourthsect-son {
  position: relative;
}
.fourthsect-vector1 {
  position: absolute;
  left: 20%;
  width: 110px;
}
.fourthsect-vector2 {
  position: absolute;
  width: 80px;
  bottom: 30%;
  left: 5%;
}
.fourthsect-vector3 {
  width: 70px;
  position: absolute;
  bottom: 1%;
  left: 12%;
}
.fourthsect-vector4 {
  width: 90px;
  position: absolute;
  right: 25%;
}
.fourthsect-vector5 {
  width: 100px;
  position: absolute;
  right: 15%;
  bottom: 31%;
}
.fourthsect-vector6 {
  width: 70px;
  position: absolute;
  right: 21%;
  bottom: 0%;
}
.fourthsect-evector1 {
  width: 230px;
  position: absolute;
  bottom: 1%;
  left: 27%;
}
.fourthsect-evector2 {
  position: absolute;
  width: 230px;
  right: 27%;
  bottom: 35%;
}
@media screen and (max-width: 1024px) {
  .fourthsect {
    margin-top: 50px;
  }
  .fourthsect h3 {
    padding-top: 80px;
  }
  .fourthsect-container {
    padding-top: 60px;
  }
  .fourthsect-image {
    width: 520px;
    z-index: 1;
  }
  .fourthsect-son {
    position: relative;
  }
  .fourthsect-vector1 {
    position: absolute;
    left: 15%;
    width: 90px;
  }
  .fourthsect-vector2 {
    position: absolute;
    width: 60px;
    bottom: 25%;
    left: 5%;
  }
  .fourthsect-vector3 {
    width: 60px;
    position: absolute;
    bottom: 1%;
    left: 14%;
  }
  .fourthsect-vector4 {
    width: 80px;
    position: absolute;
    right: 16%;
  }
  .fourthsect-vector5 {
    width: 80px;
    position: absolute;
    right: 10%;
    bottom: 28%;
  }
  .fourthsect-vector6 {
    width: 60px;
    position: absolute;
    right: 16%;
    bottom: 0%;
  }
  .fourthsect-evector1 {
    width: 200px;
    position: absolute;
    bottom: 1%;
    left: 22%;
  }
  .fourthsect-evector2 {
    position: absolute;
    width: 200px;
    right: 22%;
    bottom: 32%;
  }
}
@media screen and (max-width: 800px) {
  .fourthsect {
    margin-top: 50px;
  }
  .fourthsect h3 {
    padding-top: 80px;
  }
  .fourthsect-container {
    padding-top: 60px;
  }
  .fourthsect-image {
    width: 500px;
    z-index: 1;
  }
  .fourthsect-son {
    position: relative;
  }
  .fourthsect-vector1 {
    position: absolute;
    left: 10%;
    width: 80px;
  }
  .fourthsect-vector2 {
    position: absolute;
    width: 50px;
    bottom: 25%;
    left: 4%;
  }
  .fourthsect-vector3 {
    width: 50px;
    position: absolute;
    bottom: 2%;
    left: 9%;
  }
  .fourthsect-vector4 {
    width: 60px;
    position: absolute;
    right: 14%;
  }
  .fourthsect-vector5 {
    width: 70px;
    position: absolute;
    right: 7%;
    bottom: 26%;
  }
  .fourthsect-vector6 {
    width: 50px;
    position: absolute;
    right: 12%;
    bottom: 0%;
  }
  .fourthsect-evector1 {
    width: 180px;
    position: absolute;
    bottom: 2%;
    left: 17%;
  }
  .fourthsect-evector2 {
    position: absolute;
    width: 180px;
    right: 16%;
    bottom: 28%;
  }
}
@media screen and (max-width: 768px) {
  .fourthsect {
    margin-top: 50px;
  }
  .fourthsect h3 {
    padding-top: 80px;
  }
  .fourthsect-container {
    padding-top: 60px;
  }
  .fourthsect-image {
    width: 500px;
    z-index: 1;
  }
  .fourthsect-son {
    position: relative;
  }
  .fourthsect-vector1 {
    position: absolute;
    left: 11%;
    width: 60px;
  }
  .fourthsect-vector2 {
    position: absolute;
    width: 35px;
    bottom: 25%;
    left: 4%;
  }
  .fourthsect-vector3 {
    width: 40px;
    position: absolute;
    bottom: 2%;
    left: 9%;
  }
  .fourthsect-vector4 {
    width: 60px;
    position: absolute;
    right: 15%;
  }
  .fourthsect-vector5 {
    width: 60px;
    position: absolute;
    right: 6%;
    bottom: 26%;
  }
  .fourthsect-vector6 {
    width: 40px;
    position: absolute;
    right: 10%;
    bottom: 1%;
  }
  .fourthsect-evector1 {
    width: 180px;
    position: absolute;
    bottom: 3%;
    left: 17%;
  }
  .fourthsect-evector2 {
    position: absolute;
    width: 180px;
    right: 15%;
    bottom: 28%;
  }
}
@media screen and (max-width: 430px) {
  .fourthsect {
    margin-top: 40px;
  }
  .fourthsect h3 {
    font-size: 36px;
    padding-top: 70px;
  }
  .fourthsect-container {
    padding-top: 60px;
  }
  .fourthsect-image {
    width: 350px;
    z-index: 1;
  }
  .fourthsect-son {
    position: relative;
  }
  .fourthsect-vector1 {
    position: absolute;
    left: 40%;
    width: 45px;
  }
  .fourthsect-vector2 {
    position: absolute;
    width: 35px;
    bottom: 50%;
    left: 10%;
  }
  .fourthsect-vector3 {
    width: 40px;
    position: absolute;
    bottom: 10%;
    left: 2%;
  }
  .fourthsect-vector4 {
    width: 50px;
    position: absolute;
    right: 15%;
  }
  .fourthsect-vector5 {
    width: 50px;
    position: absolute;
    right: 2%;
    bottom: 26%;
  }
  .fourthsect-vector6 {
    width: 40px;
    position: absolute;
    right: 4%;
    bottom: 4%;
  }
  .fourthsect-evector1 {
    width: 180px;
    position: absolute;
    bottom: 5%;
    left: 12%;
  }
  .fourthsect-evector2 {
    position: absolute;
    width: 160px;
    right: 10%;
    bottom: 35%;
  }
}
@media screen and (max-width: 376px) {
  .fourthsect {
    margin-top: 40px;
  }
  .fourthsect h3 {
    font-size: 36px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .fourthsect-container {
    padding-top: 60px;
  }
  .fourthsect-image {
    width: 340px;
    z-index: 1;
  }
  .fourthsect-son {
    position: relative;
  }
  .fourthsect-vector1 {
    position: absolute;
    left: 44%;
    width: 45px;
  }
  .fourthsect-vector2 {
    position: absolute;
    width: 45px;
    bottom: 46%;
    left: 8%;
  }
  .fourthsect-vector3 {
    width: 40px;
    position: absolute;
    bottom: 0%;
    left: 4%;
  }
  .fourthsect-vector4 {
    width: 60px;
    position: absolute;
    right: 8%;
  }
  .fourthsect-vector5 {
    width: 50px;
    position: absolute;
    right: 2%;
    bottom: 26%;
  }
  .fourthsect-vector6 {
    width: 40px;
    position: absolute;
    right: 1%;
    bottom: 1%;
  }
  .fourthsect-evector1 {
    width: 130px;
    position: absolute;
    bottom: 7%;
    left: 7%;
  }
  .fourthsect-evector2 {
    position: absolute;
    width: 130px;
    right: 8%;
    bottom: 35%;
  }
}
@media screen and (max-width: 321px) {
  .fourthsect {
    margin-top: 40px;
  }
  .fourthsect h3 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .fourthsect-container {
    padding-top: 50px;
  }
  .fourthsect-image {
    width: 320px;
    z-index: 1;
  }
  .fourthsect-son {
    position: relative;
  }
  .fourthsect-vector1 {
    position: absolute;
    left: 44%;
    width: 45px;
  }
  .fourthsect-vector2 {
    position: absolute;
    width: 45px;
    bottom: 48%;
    left: 6%;
  }
  .fourthsect-vector3 {
    width: 35px;
    position: absolute;
    bottom: -2px;
    left: 4%;
  }
  .fourthsect-vector4 {
    width: 60px;
    position: absolute;
    right: 4%;
  }
  .fourthsect-vector5 {
    width: 35px;
    position: absolute;
    right: -4px;
    bottom: 22%;
    display: none;
  }
  .fourthsect-vector6 {
    width: 35px;
    position: absolute;
    right: 1%;
    bottom: 1%;
  }
  .fourthsect-evector1 {
    width: 130px;
    position: absolute;
    bottom: 4%;
    left: 5%;
  }
  .fourthsect-evector2 {
    position: absolute;
    width: 130px;
    right: 8%;
    bottom: 35%;
  }
}
.finalsect {
  margin-top: 120px;
}
.finalsect h3 {
  font-family: "CircularStd";
  font-size: 50px;
  font-weight: 700;
  color: #272d4e;
  text-align: center;
}
.finalsect p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #94a2b3;
  text-align: center;
  padding-top: 22px;
}
.justflex {
  display: flex;
  justify-content: center;
}
.finalsect-image {
  width: 78%;
  z-index: 1;
}
.finalsect-container {
  position: relative;
}
.finalsect-vector1 {
  max-width: 66%;
  position: absolute;
  bottom: -45px;
  left: 15%;
}
.finalsect-vector2 {
  position: absolute;
  width: 130px;
  left: 4%;
  bottom: -58px;
}
.finalsect-vector3 {
  position: absolute;
  left: 7%;
  width: 30px;
  bottom: 14%;
}
.finalsect-vector4 {
  position: absolute;
  width: 55px;
  top: 50px;
  left: 20px;
}
.finalsect-vector5 {
  position: absolute;
  right: 10%;
  width: 40px;
  top: 20%;
}
.finalsect-vector6 {
  position: absolute;
  width: 200px;
  right: 7%;
  bottom: 2%;
}
@media screen and (max-width: 1025px) {
  .finalsect {
    margin-top: 120px;
  }
  .finalsect h3 {
    font-size: 46px;
  }
  .finalsect p {
    font-size: 16px;
  }

  .finalsect-container {
    position: relative;
  }
  .finalsect-vector1 {
    max-width: 66%;
    position: absolute;
    bottom: -45px;
    left: 15%;
  }
  .finalsect-vector2 {
    position: absolute;
    width: 130px;
    left: 4%;
    bottom: -58px;
  }
  .finalsect-vector3 {
    position: absolute;
    left: 7%;
    width: 30px;
    bottom: 14%;
  }
  .finalsect-vector4 {
    position: absolute;
    width: 55px;
    top: 50px;
    left: 20px;
  }
  .finalsect-vector5 {
    position: absolute;
    right: 8%;
    width: 40px;
    top: 20%;
  }
  .finalsect-vector6 {
    position: absolute;
    width: 140px;
    right: 7%;
    bottom: 2%;
  }
}
@media screen and (max-width: 801px) {
  .finalsect {
    margin-top: 100px;
  }
  .finalsect h3 {
    font-size: 46px;
  }
  .finalsect p {
    font-size: 16px;
  }

  .finalsect-container {
    position: relative;
  }
  .finalsect-vector1 {
    max-width: 66%;
    position: absolute;
    bottom: -45px;
    left: 15%;
  }
  .finalsect-vector2 {
    position: absolute;
    width: 100px;
    left: 4%;
    bottom: -44px;
  }
  .finalsect-vector3 {
    position: absolute;
    left: 7%;
    width: 25px;
    bottom: 14%;
  }
  .finalsect-vector4 {
    position: absolute;
    width: 40px;
    top: 40px;
    left: 16px;
  }
  .finalsect-vector5 {
    position: absolute;
    right: 8%;
    width: 30px;
    top: 16%;
  }
  .finalsect-vector6 {
    position: absolute;
    width: 100px;
    right: 7%;
    bottom: 2%;
  }
}
@media screen and (max-width: 769px) {
  .finalsect {
    margin-top: 90px;
  }
  .finalsect h3 {
    font-size: 40px;
  }
  .finalsect p {
    font-size: 14px;
  }

  .finalsect-container {
    position: relative;
  }
  .finalsect-vector1 {
    max-width: 66%;
    position: absolute;
    bottom: -45px;
    left: 15%;
  }
  .finalsect-vector2 {
    position: absolute;
    width: 100px;
    left: 4%;
    bottom: -44px;
  }
  .finalsect-vector3 {
    position: absolute;
    left: 7%;
    width: 25px;
    bottom: 14%;
  }
  .finalsect-vector4 {
    position: absolute;
    width: 40px;
    top: 40px;
    left: 16px;
  }
  .finalsect-vector5 {
    position: absolute;
    right: 8%;
    width: 30px;
    top: 16%;
  }
  .finalsect-vector6 {
    position: absolute;
    width: 100px;
    right: 7%;
    bottom: 2%;
  }
}
@media screen and (max-width: 431px) {
  .finalsect {
    margin-top: 70px;
  }
  .finalsect h3 {
    font-size: 40px;
  }
  .finalsect p {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .finalsect-container {
    position: relative;
  }
  .finalsect-vector1 {
    max-width: 66%;
    position: absolute;
    bottom: -20px;
    left: 15%;
  }
  .finalsect-vector2 {
    position: absolute;
    width: 100px;
    left: 2%;
    bottom: -42px;
  }
  .finalsect-vector3 {
    position: absolute;
    left: 7%;
    width: 15px;
    bottom: 26%;
  }
  .finalsect-vector4 {
    position: absolute;
    width: 20px;
    top: 10px;
    left: 10px;
  }
  .finalsect-vector5 {
    position: absolute;
    right: 8%;
    width: 20px;
    top: 20%;
  }
  .finalsect-vector6 {
    position: absolute;
    width: 60px;
    right: 5%;
    bottom: 2%;
  }
}
@media screen and (max-width: 376px) {
  .finalsect {
    margin-top: 60px;
  }
  .finalsect h3 {
    font-size: 36px;
  }
  .finalsect p {
    font-size: 14px;
    line-height: 18.2px;
    padding-top: 10px;
  }

  .finalsect-container {
    position: relative;
  }
  .finalsect-vector1 {
    max-width: 66%;
    position: absolute;
    bottom: -20px;
    left: 15%;
  }
  .finalsect-vector2 {
    position: absolute;
    width: 50px;
    left: 4%;
    bottom: -20px;
  }
  .finalsect-vector3 {
    position: absolute;
    left: 6%;
    width: 8px;
    bottom: 18%;
  }
  .finalsect-vector4 {
    position: absolute;
    width: 12px;
    top: 20px;
    left: 12px;
  }
  .finalsect-vector5 {
    position: absolute;
    right: 9%;
    width: 10px;
    top: 24%;
  }
  .finalsect-vector6 {
    position: absolute;
    width: 50px;
    right: 7%;
    bottom: 2%;
  }
}
@media screen and (max-width: 321px) {
  .finalsect {
    margin-top: 50px;
  }
  .finalsect h3 {
    font-size: 32px;
  }
  .finalsect p {
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
  }

  .finalsect-container {
    position: relative;
  }
  .finalsect-vector1 {
    max-width: 66%;
    position: absolute;
    bottom: -20px;
    left: 15%;
  }
  .finalsect-vector2 {
    position: absolute;
    width: 50px;
    left: 4%;
    bottom: -20px;
  }
  .finalsect-vector3 {
    position: absolute;
    left: 7%;
    width: 8px;
    bottom: 19%;
  }
  .finalsect-vector4 {
    position: absolute;
    width: 12px;
    top: 16px;
    left: 12px;
  }
  .finalsect-vector5 {
    position: absolute;
    right: 9%;
    width: 10px;
    top: 26%;
  }
  .finalsect-vector6 {
    position: absolute;
    width: 50px;
    right: 7%;
    bottom: 2%;
  }
}
.prefooter {
  background-color: #5f37ef;
  padding-top: 74px;
  padding-bottom: 74px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.prefooter h4 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  color: white;
}
.prefooter span {
  font-weight: 700;
}
.prefooter button {
  font-size: 18px;
  font-family: Roboto;
  color: white;
  border-color: white;
  border-radius: 60px;
  padding: 22px 42px;
  border-color: white;
  background-color: #5f37ef;
}
.prefootervector {
  position: absolute;
  bottom: -16px;
  right: 5%;
  width: 60px;
}
@media screen and (max-width: 1024px) {
  .prefooter {
    background-color: #5f37ef;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .prefooter h4 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: white;
  }
  .prefooter span {
    font-weight: 700;
  }
  .prefooter button {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    border-color: white;
    border-radius: 60px;
    padding: 22px 42px;
    border-color: white;
    background-color: #5f37ef;
  }
  .prefootervector {
    position: absolute;
    bottom: -16px;
    right: 5%;
    width: 60px;
  }
}
@media screen and (max-width: 801px) {
  .prefooter {
    background-color: #5f37ef;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .prefooter h4 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    color: white;
  }
  .prefooter span {
    font-weight: 700;
  }
  .prefooter button {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    border-color: white;
    border-radius: 60px;
    padding: 22px 42px;
    border-color: white;
    background-color: #5f37ef;
  }
  .prefootervector {
    position: absolute;
    bottom: -16px;
    right: 5%;
    width: 60px;
  }
}
@media screen and (max-width: 769px) {
  .prefooter {
    background-color: #5f37ef;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .prefooter h4 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    color: white;
  }
  .prefooter span {
    font-weight: 700;
  }
  .prefooter button {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    border-color: white;
    border-radius: 60px;
    padding: 22px 42px;
    border-color: white;
    background-color: #5f37ef;
  }
  .prefootervector {
    position: absolute;
    bottom: -16px;
    right: 5%;
    width: 60px;
  }
}
@media screen and (max-width: 431px) {
  .prefooter {
    background-color: #5f37ef;
    padding: 24px 16px;
    z-index: 1;
    position: relative;
    display: block;
    justify-content: center;
  }
  .prefooter h4 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding-bottom: 16px;
  }
  .prefooter span {
    font-weight: 700;
  }
  .prefooter button {
    font-size: 12px;
    padding: 14px 24px;
  }
  .prefootervector {
    position: absolute;
    bottom: -16px;
    right: 5%;
    width: 60px;
  }
}
@media screen and (max-width: 376px) {
  .prefooter {
    background-color: #5f37ef;
    padding: 24px 16px;
    z-index: 1;
    position: relative;
    display: block;
    justify-content: center;
  }
  .prefooter h4 {
    font-size: 16px;

    padding-bottom: 16px;
  }

  .prefootervector {
    position: absolute;
    bottom: -16px;
    right: 5%;
    width: 60px;
  }
}
@media screen and (max-width: 321px) {
  .prefooter h4 {
    font-size: 14px;
  }

  .prefootervector {
    position: absolute;
    bottom: -12px;
    right: 5%;
    width: 40px;
  }
}
.footer {
  background-color: #7854f7;
  padding-top: 45px;
  padding-bottom: 64px;
}
.footerson {
  display: flex;
  justify-content: space-evenly;
}
.footerson1 {
  display: flex;
  gap: 6px;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.footerson1 span {
  font-weight: 700;
}
.footerson1 img {
  width: 20px;
}
.footer-image-cont {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}
.hrline-cont {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 30px;
}
.hrline {
  width: 90%;
  color: #9a7dff;
}
.footer-son2-cont {
  display: flex;
  justify-content: space-evenly;
}
.footer-son2 h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  line-height: 42px;
}
.footer-son2 a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 22px;
  text-decoration: none;
}
.footer-son2 a :hover {
  font-size: 14px;
  color: rgb(243, 192, 98);
}
.footer-end {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-end p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: #272d4e;
}
.footer-end p a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: #272d4e;
}
.footer-social {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .footer {
    background-color: #7854f7;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .footer-image-cont {
    padding-top: 80px;
  }
  .hrline-cont {
    padding-top: 40px;
    padding-bottom: 36px;
  }
  .footer-end {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 801px) {
  .footer-image-cont {
    padding-top: 60px;
  }
  .hrline-cont {
    padding-top: 40px;
    padding-bottom: 36px;
  }
  .footer-end {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-social {
    gap: 20px;
  }
}
@media screen and (max-width: 769px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .footerson1 {
    padding-bottom: 5px;
  }

  .footerson {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    column-gap: 20px;
  }
  .footer-son2-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 50px;
  }
  .col-span-2 {
    grid-row: 1;
  }

  .footer-image-cont {
    padding-top: 20px;
  }
  .hrline-cont {
    padding-top: 30px;
    padding-bottom: 16px;
  }
  .footer-end {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }
  .footer-end p {
    text-align: center;
    padding-top: 10px;
  }
  .footer-social {
    justify-content: center;
    gap: 50px;
  }
  .footer-image-end {
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }
}
@media screen and (max-width: 431px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .footerson1 {
    padding-bottom: 5px;
  }

  .footerson {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
  }
  .footer-son2-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
    padding-right: 10px;
  }
  .footer-end p {
    font-size: 10px;
  }
  .footer-social {
    gap: 40px;
  }
  .footer-image-end {
    padding-top: 24px;
  }
}
@media screen and (max-width: 376px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .footerson1 {
    padding-bottom: 5px;
  }

  .footerson {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
  }
  .footer-son2-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 16px;
    padding-right: 16px;
    gap: 20px;
  }
  .footer-end p {
    font-size: 10px;
  }
  .footer-social {
    gap: 40px;
  }
  .footer-image-end {
    padding-top: 20px;
  }
  .footer-son2 h3 {
   
    font-size: 12px;
   
    line-height: 36px;
  }
  .footer-son2 a {
 
    font-size: 11px;
   
  }
  .footer-son2 a :hover {
    font-size: 12px;
   
  }
}
@media screen and (max-width: 321px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .footerson1 {
    padding-bottom: 5px;
  }

  .footerson {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
  }
  .footer-son2-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 16px;
    padding-right: 16px;
    gap: 20px;
  }
  .footer-end p {
    font-size: 10px;
  }
  .footer-social {
    gap: 40px;
  }
  .footer-image-end {
    padding-top: 20px;
  }
  .footer-son2 h3 {
   
    font-size: 12px;
   
    line-height: 36px;
  }
  .footer-son2 a {
 
    font-size: 11px;
   
  }
  .footer-son2 a :hover {
    font-size: 12px;
   
  }
}
