* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1440px;
  margin: 0px auto;
}
@font-face {
  font-family: "CircularStd";
  src: url(./font/CircularStd-Bold.otf);
}
.hamburger {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  padding-left: 55px;
  padding-right: 55px;
}
.logo {
  width: 15%;
  height: 40%;
  padding-top: 10px;
}
.logo2 {
  display: none;
}
header ul {
  display: flex;
  list-style-type: none;
  gap: 38px;
  color: #272d4e;
  padding-top: 13px;
}
header div {
  display: flex;
  gap: 34px;
}
.extra {
  text-decoration: none;
  color: #272d4e;
}
.searchbar {
  width: 40%;
  height: 80%;
  margin-top: 5px;
}
header button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  padding: 13px 14px;
  border: none;
  background-color: #7854f7;
  color: white;
}
.hero {
  display: flex;
  padding-top: 80px;
  padding-left: 200px;
  gap: 100px;
}
.hero .htext {
  font-weight: 700;
  font-size: 45px;
  font-family: "CircularStd";
  color: #272d4e;
}
.hero .ptext {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #94a2b3;
  padding-top: 29px;
}
.hero img {
  width: 95%;
}
.bord {
  display: flex;
  gap: 12px;
  padding-top: 31px;
}
.bord p {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  padding-top: 24px;
  color: #94a2b3;
}
.bord span {
  font-weight: 700;
  color: #29aaf3;
  cursor: pointer;
}
.startbut {
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto;
  color: white;
  background-color: #7854f7;
  padding: 26px 62px;
  border-radius: 60px;
  border: none;
}
@media screen and (max-width: 1024px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
    gap: 60px;
  }
  header ul {
    gap: 20px;
  }
  header div {
    gap: 10px;
  }
  header button {
    font-size: 12px;
    padding: 4px;
  }
  .hero {
    padding-top: 40px;
    padding-left: 100px;
    gap: 70px;
  }
  .hero .htext {
    font-weight: 600;
    font-size: 30px;
  }
  .hero .ptext {
    padding-top: 20px;
  }
  .startbut {
    font-size: 14px;

    padding: 14px;
    border-radius: 30px;
  }
  .bord p {
    font-size: 18px;
    padding-top: 12px;
  }
}
@media screen and (max-width: 800px) {
  header {
    padding-left: 8px;
    padding-right: 10px;
    gap: 30px;
  }
  header ul {
    gap: 15px;
  }
  header div {
    gap: 8px;
  }
  .hero {
    padding-top: 20px;
    padding-left: 40px;
    gap: 40px;
  }
  .hero .htext {
    font-size: 20px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 14px;
  }
  .startbut {
    font-size: 12px;
    width: 180px;

    padding: 4px;
    border-radius: 25px;
  }
  .bord p {
    font-size: 12px;
    padding-top: 8px;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
  header nav {
    display: none;
  }
  .logsign {
    display: none;
  }
  .hero {
    padding-top: 20px;
    padding-left: 40px;
    gap: 40px;
  }
  .hero .htext {
    font-size: 20px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 14px;
  }
  .startbut {
    font-size: 12px;
    width: 180px;

    padding: 4px;
    border-radius: 25px;
  }
  .bord p {
    font-size: 12px;
    padding-top: 8px;
  }
}
@media screen and (max-width: 431px) {
  .hero {
    display: block;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero .htext {
    font-weight: 700;
    font-size: 38px;
  }
  .hero .ptext {
    font-size: 14px;
    padding-top: 10px;
  }
  .startbut {
    font-size: 10px;
    width: 130px;
    padding: 14px 24px;
    border-radius: 25px;
  }
  .bord {
    padding-top: 10px;
  }
  .bord p {
    font-size: 11px;
    padding-top: 12px;
  }
  .featuredimage {
    padding-top: 28px;
  }
}
@media screen and (max-width: 376px) {
  .hero .htext {
    font-size: 34px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 8px;
  }
  .startbut {
    font-size: 10px;
    width: 130px;
    padding: 11px 24px;
    border-radius: 25px;
  }
  .bord {
    padding-top: 8px;
  }
  .bord p {
    font-size: 9px;
    padding-top: 12px;
  }
  .featuredimage {
    padding-top: 24px;
  }
}
@media screen and (max-width: 320px) {
  .hero .htext {
    font-size: 30px;
  }
  .hero .ptext {
    font-size: 12px;
    padding-top: 8px;
  }

  .bord {
    padding-top: 10px;
  }
}
.cuz1 {
  padding-top: 24px;
}
.cuz2 {
  padding-top: 90px;
}
.cuz3 {
  padding-top: 140px;
}
.subhero {
  padding-top: 30px;
}
.subheroson {
  display: flex;
  padding-left: 114px;
  padding-right: 114px;
}
.subheroson h4 {
  font-family: "CircularStd";
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #272d4e;
}
.subherosonP {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #94a2b3;
  text-align: center;
}
.subherosonP1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  color: #299ef3;
  text-align: center;
  text-decoration: none;
}

.mainimage {
  max-width: 430px;
}
.popimage {
  max-width: 180px;
}
.subhero h3 {
  font-family: "CircularStd";
  font-weight: 700;
  font-size: 40px;
  color: #272d4e;
  text-align: center;
}
.imageposition1 {
  position: relative;
}
.absoimage1 {
  position: absolute;
  left: -30px;
  top: 40px;
}
.absoimage2 {
  position: absolute;
  left: -60px;
  top: 65px;
}
.imageposition2 {
  position: relative;
}
.absoimage3 {
  position: absolute;
  top: -40px;
  left: 40px;
}
.absoimage4 {
  position: absolute;
  right: 22px;
  top: 10px;
}
.absoimage5 {
  position: absolute;
  top: 84px;
  left: 31px;
}
.absoimage6 {
  position: absolute;
  left: 115px;
  top: 195px;
}
.absoimage7 {
  position: absolute;
  right: 72px;
  top: 106px;
}
.imageposition3 {
  position: relative;
}
.absoimage8 {
  position: absolute;
  top: 95px;
  right: -25px;
}
.absoimage9 {
  position: absolute;
  top: -40px;
  left: 30px;
}
.absoimage10 {
  position: absolute;
  top: -100px;
  right: 30px;
}
@media screen and (max-width: 1024px) {
  .cuz1 {
    padding-top: 15px;
  }
  .cuz2 {
    padding-top: 50px;
  }
  .cuz3 {
    padding-top: 90px;
  }
  .subhero {
    padding-top: 20px;
  }
  .subheroson {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }
  .subheroson h4 {
    font-size: 22px;
  }
  .subherosonP {
    font-size: 12px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 320px;
  }
  .popimage {
    max-width: 140px;
  }
  .subhero h3 {
    font-size: 34px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -38px;
    top: 34px;
  }
  .absoimage2 {
    position: absolute;
    left: -50px;
    top: 72px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -30px;
    left: 23px;
  }
  .absoimage4 {
    position: absolute;
    right: 16px;
    top: 4px;
  }
  .absoimage5 {
    position: absolute;
    top: 60px;
    left: 22px;
  }
  .absoimage6 {
    position: absolute;
    left: 90px;
    top: 144px;
  }
  .absoimage7 {
    position: absolute;
    right: 54px;
    top: 79px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 60px;
    right: -30px;
  }
  .absoimage9 {
    position: absolute;
    top: -28px;
    left: 20px;
  }
  .absoimage10 {
    position: absolute;
    top: -90px;
    right: 30px;
  }
}
@media screen and (max-width: 800px) {
  .cuz1 {
    padding-top: 15px;
  }
  .cuz2 {
    padding-top: 40px;
  }
  .cuz3 {
    padding-top: 70px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 240px;
  }
  .popimage {
    max-width: 100px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -42px;
    top: 26px;
  }
  .absoimage2 {
    position: absolute;
    left: -30px;
    top: 60px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -20px;
    left: 20px;
  }
  .absoimage4 {
    position: absolute;
    right: 16px;
    top: 5px;
  }
  .absoimage5 {
    position: absolute;
    top: 48px;
    left: 20px;
  }
  .absoimage6 {
    position: absolute;
    left: 66px;
    top: 110px;
  }
  .absoimage7 {
    position: absolute;
    right: 42px;
    top: 60px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 60px;
    right: -20px;
  }
  .absoimage9 {
    position: absolute;
    top: -18px;
    left: 14px;
  }
  .absoimage10 {
    position: absolute;
    top: -60px;
    right: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* .subheroson h4{
        text-align: none;

    } */
  .cuz1 {
    padding-top: 15px;
  }
  .cuz2 {
    padding-top: 40px;
  }
  .cuz3 {
    padding-top: 120px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 150px;
    padding-right: 150px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 430px;
  }
  .popimage {
    max-width: 200px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -28px;
    top: 58px;
  }
  .absoimage2 {
    position: absolute;
    left: -60px;
    top: 90px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -45px;
    left: 26px;
  }
  .absoimage4 {
    position: absolute;
    right: 60px;
    top: 15px;
  }
  .absoimage5 {
    position: absolute;
    top: 75px;
    left: 31px;
  }
  .absoimage6 {
    position: absolute;
    left: 105px;
    top: 195px;
  }
  .absoimage7 {
    position: absolute;
    right: 100px;
    top: 104px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 100px;
    right: -10px;
  }
  .absoimage9 {
    position: absolute;
    top: -40px;
    left: 27px;
  }
  .absoimage10 {
    position: absolute;
    top: -110px;
    right: 60px;
  }
}
@media screen and (max-width: 431px) {
  /* .subheroson h4{
        text-align: none;

    } */
  .cuz1 {
    padding-top: 10px;
  }
  .cuz2 {
    padding-top: 30px;
  }
  .cuz3 {
    padding-top: 100px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 50px;
    padding-right: 25px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  .mainimage {
    max-width: 330px;
  }
  .popimage {
    max-width: 130px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -40px;
    top: 35px;
  }
  .absoimage2 {
    position: absolute;
    left: -40px;
    top: 90px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -24px;
    left: 30px;
  }
  .absoimage4 {
    position: absolute;
    right: 42px;
    top: 12px;
  }
  .absoimage5 {
    position: absolute;
    top: 65px;
    left: 30px;
  }
  .absoimage6 {
    position: absolute;
    left: 90px;
    top: 154px;
  }
  .absoimage7 {
    position: absolute;
    right: 80px;
    top: 84px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 70px;
    right: -5px;
  }
  .absoimage9 {
    position: absolute;
    top: -20px;
    left: 24px;
  }
  .absoimage10 {
    position: absolute;
    top: -70px;
    right: 40px;
  }
}
@media screen and (max-width: 376px) {
  /* .subheroson h4{
        text-align: none;

    } */
  .cuz1 {
    padding-top: 10px;
  }
  .cuz2 {
    padding-top: 30px;
  }
  .cuz3 {
    padding-top: 100px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 30px;
    padding-right: 25px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  /* .mainimage {
      max-width: 330px;
    } */

  .mainimage1 {
    width: 275px;
  }
  .mainimage2 {
    width: 343px;
  }
  .mainimage3 {
    width: 300px;
  }
  .popimage1 {
    width: 43px;
  }
  .popimage2 {
    width: 129px;
  }

  .popimage {
    max-width: 130px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -18px;
    top: 28px;
  }
  .absoimage2 {
    position: absolute;
    left: -40px;
    top: 50px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -24px;
    left: 30px;
  }
  .absoimage4 {
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .absoimage5 {
    position: absolute;
    top: 65px;
    left: 30px;
  }
  .absoimage6 {
    position: absolute;
    left: 90px;
    top: 154px;
  }
  .absoimage7 {
    position: absolute;
    right: 50px;
    top: 84px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 70px;
    right: -5px;
  }
  .absoimage9 {
    position: absolute;
    top: -20px;
    left: 20px;
  }
  .absoimage10 {
    position: absolute;
    top: -70px;
    right: 40px;
  }
}
@media screen and (max-width: 321px) {
  /* .subheroson h4{
        text-align: none;

    } */

  .cuz3 {
    padding-top: 90px;
  }
  .subhero {
    padding-top: 15px;
  }
  .subheroson {
    display: block;
    padding-left: 25px;
    padding-right: 16px;
  }
  .subheroson h4 {
    font-size: 18px;
  }
  .subherosonP {
    font-size: 10px;
  }
  .subherosonP1 {
    font-size: 12px;
  }

  /* .mainimage {
      max-width: 330px;
    } */

  .mainimage1 {
    width: 275px;
  }
  .mainimage2 {
    width: 300px;
  }
  .mainimage3 {
    width: 300px;
  }
  .popimage1 {
    width: 43px;
  }
  .popimage2 {
    width: 129px;
  }

  .popimage {
    max-width: 130px;
  }
  .subhero h3 {
    font-size: 30px;
  }
  .imageposition1 {
    position: relative;
  }
  .absoimage1 {
    position: absolute;
    left: -18px;
    top: 28px;
  }
  .absoimage2 {
    position: absolute;
    left: -40px;
    top: 50px;
  }
  .imageposition2 {
    position: relative;
  }
  .absoimage3 {
    position: absolute;
    top: -28px;
    left: 26px;
  }
  .absoimage4 {
    position: absolute;
    right: -2px;
    top: 4px;
  }
  .absoimage5 {
    position: absolute;
    top: 55px;
    left: 21px;
  }
  .absoimage6 {
    position: absolute;
    left: 80px;
    top: 140px;
  }
  .absoimage7 {
    position: absolute;
    right: 28px;
    top: 75px;
  }
  .imageposition3 {
    position: relative;
  }
  .absoimage8 {
    position: absolute;
    top: 70px;
    right: -38px;
  }
  .absoimage9 {
    position: absolute;
    top: -26px;
    left: 20px;
  }
  .absoimage10 {
    position: absolute;
    top: -70px;
    right: 1px;
  }
}
.thirdsect {
  position: relative;
  margin-top: 120px;
  padding-left: 180px;
  padding-right: 180px;
  background-image: url(./images/Rectangle234.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.thirdsect h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "CircularStd";
  padding-top: 85px;
  color: white;
}
.thirdsect p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 34px;
  padding-top: 14px;
  color: white;
  line-height: 20px;
}
.thirdsect button {
  padding: 22px 26px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  background-color: #70c217;
  color: white;
  border-radius: 30px;
  border: none;
}
.thirdsect-son {
  display: flex;
  gap: 18px;
}
.thirdsect-son1 {
  position: relative;
  padding-bottom: 50px;
}
.thirdsect-image1 {
  position: absolute;
  top: -50px;
  width: 430px;
  z-index: 2;
}
.empty {
  width: 430px;
}
.thirdsect-son2 {
  position: relative;
  padding-bottom: 105px;
}
.thirdsect-image2 {
  position: absolute;
  right: -10px;
  width: 430px;
}
.vector1 {
  width: 35px;
  position: absolute;
  top: 120px;
}
.vector2 {
  position: absolute;
  top: 180px;
  width: 300px;
}
.empty1 {
  width: 220px;
}
.vector3 {
  width: 150px;
  position: absolute;
  top: -75px;
  left: 12px;
}
.vector4 {
  width: 35px;
  position: absolute;
  right: 250px;
  top: 12px;
  z-index: 1;
}
.vector5 {
  width: 180px;
  position: absolute;
  right: -70px;
  top: 22px;
}
.vector6 {
  width: 250px;
  position: absolute;
  right: -95px;
  top: 170px;
}
@media screen and (max-width: 1024px) {
  .thirdsect {
    position: relative;
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .thirdsect h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: "CircularStd";
    padding-top: 45px;
  }
  .thirdsect p {
    font-size: 14px;
    padding-bottom: 28px;
    padding-top: 14px;

    line-height: 20px;
  }
  .thirdsect button {
    padding: 18px 22px;
    font-size: 14px;
  }
  .thirdsect-son {
    display: flex;
    gap: 10px;
  }
  .thirdsect-son1 {
    position: relative;
    padding-bottom: 30px;
  }
  .thirdsect-image1 {
    position: absolute;
    top: -50px;
    width: 320px;
    z-index: 2;
  }
  .empty {
    width: 380px;
  }
  .thirdsect-son2 {
    position: relative;
    padding-bottom: 40px;
  }
  .thirdsect-image2 {
    position: absolute;
    right: -10px;
    width: 320px;
  }
  .vector1 {
    width: 30px;
    position: absolute;
    top: 60px;
  }
  .vector2 {
    position: absolute;
    top: 170px;
    width: 170px;
  }
  .empty1 {
    width: 170px;
  }
  .vector3 {
    width: 100px;
    position: absolute;
    top: -75px;
    left: 12px;
  }
  .vector4 {
    width: 30px;
    position: absolute;
    right: 170px;
    top: 6px;
    z-index: 1;
  }
  .vector5 {
    width: 120px;
    position: absolute;
    right: -50px;
    top: 12px;
  }
  .vector6 {
    width: 160px;
    position: absolute;
    right: -58px;
    top: 115px;
  }
}
@media screen and (max-width: 800px) {
  .thirdsect {
    position: relative;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 40px;
  }
  .thirdsect h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "CircularStd";
    padding-top: 30px;
  }
  .thirdsect p {
    font-size: 12px;
    padding-bottom: 24px;
    padding-top: 12px;

    line-height: 14px;
  }
  .thirdsect button {
    padding: 18px 22px;
    font-size: 14px;
  }
  .thirdsect-son {
    display: flex;
    gap: 10px;
  }
  .thirdsect-son1 {
    position: relative;
    padding-bottom: 30px;
  }
  .thirdsect-image1 {
    position: absolute;
    top: -40px;
    width: 300px;
    z-index: 2;
  }
  .empty {
    width: 300px;
  }
  .thirdsect-son2 {
    position: relative;
    padding-bottom: 60px;
  }
  .thirdsect-image2 {
    position: absolute;
    /* right: -0px; */
    width: 300px;
    top: -14px;
  }
  .vector1 {
    width: 30px;
    position: absolute;
    top: 60px;
  }
  .vector2 {
    position: absolute;
    top: 170px;
    width: 140px;
  }
  .empty1 {
    width: 130px;
  }
  .vector3 {
    width: 100px;
    position: absolute;
    top: -48px;
    left: 8px;
  }
  .vector4 {
    width: 30px;
    position: absolute;
    right: 170px;
    top: -8px;
    z-index: 1;
  }
  .vector5 {
    width: 90px;
    position: absolute;
    right: -30px;
    top: 4px;
  }
  .vector6 {
    width: 120px;
    position: absolute;
    right: -28px;
    top: 82px;
  }
}
@media screen and (max-width: 768px) {
  .thirdsect {
    position: relative;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 30px;
  }

  .thirdsect-son1 {
    position: relative;
    padding-bottom: 30px;
  }
  .thirdsect-image1 {
    position: absolute;
    top: -40px;
    width: 250px;
    z-index: 2;
  }
  .empty {
    width: 250px;
  }

  .thirdsect-son2 {
    position: relative;
    padding-bottom: 40px;
  }
  .thirdsect-image2 {
    position: absolute;
    /* right: -0px; */
    width: 280px;
    top: -14px;
  }
  .vector1 {
    width: 30px;
    position: absolute;
    top: 40px;
  }
  .vector2 {
    position: absolute;
    top: 120px;
    width: 140px;
  }
  .empty1 {
    width: 130px;
  }
  .vector3 {
    width: 100px;
    position: absolute;
    top: -60px;
    left: 8px;
  }
  .vector4 {
    width: 30px;
    position: absolute;
    right: 170px;
    top: -8px;
    z-index: 1;
  }
  .vector5 {
    width: 90px;
    position: absolute;
    right: -20px;
    top: 2px;
  }
  .vector6 {
    width: 120px;
    position: absolute;
    right: -18px;
    top: 92px;
  }
}
@media screen and (max-width: 430px ) {
  .thirdsect {
    display: none;
  }
  .mobile {
  background-repeat: no-repeat;
  background-size: cover;
    padding-left: 16px;
    padding-right: 16px;
    background-image: url(./images/Rectangle234m.png);
  }
  .mobile-son img {
    width: 330px;
    
  }
  .mobile-son1{
    padding-top: 50px;
  }

  
}
